#creation-input, .creation-input-container, .creation {
    height: 100%;
    width: 100%;
}

.creation {
    background: var(--background-default);
    padding: 20px;
    z-index: 1;
}

#creation-input:focus {
    border: none;
    outline: none;
}

#creation-input {
    border: none;
    resize: none;
    border-radius: 0 0 50px 50px;
    background: transparent;
    padding: 20px 30px;
    font-family: 'Lilita One', sans-serif;
    font-size: 1.4rem;
    color: var(--text-secondary);
}

.creation-input-container {
    display: flex;
    position: relative;
    flex-direction: column;
}

.creation-top {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px 0 30px;;
}

.creation-actions {
  display: flex;
  gap: 25px;
}

.send-button {
    height: 75px;
    width: 75px;
    background: rgba(92, 255, 111, 0.25);
    border: 3px solid var(--secondary-color);
    border-radius: 15px;
    transition: background 0.25s;
}

.send-button:hover {
    background: rgba(92, 255, 111, 0.40);
}

.exit-button {
    height: 75px;
    width: 75px;
    background: rgba(255, 92, 92, 0.25);
    border: 3px solid var(--secondary-color);
    border-radius: 15px;
    transition: background 0.25s;
}

.exit-button:hover {
    background: rgba(255, 92, 92, 0.4);
}

.emoji {
    position: relative;
}

.attach-button {
  height: 75px;
  width: 75px;
  background: var(--background-default);
  border: 3px solid var(--secondary-color);
  border-radius: 15px;
  transition: background 0.25s;
}

.attach-button:hover {
  background: var(--background-secondary);
}

.emoji-button {
    background: none;
    border: none;
    height: 64px;
    width: 64px;
}

.emoji-display {
    font-size: 64px;
    line-height: 1;
}

[frimousse-root] {
  font-family: 'Inter', sans-serif;
  position: absolute;
  top: 80px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: 352px;
  background: var(--background-default);
  isolation: isolate;
  border-radius: 10px;
  border: 1.5px solid var(--background-secondary);
  filter: drop-shadow(2px 2px 5px var(--background-secondary));
}

[frimousse-search] {
  position: relative;
  z-index: 10;
  appearance: none;
  margin-block-start: 8px;
  margin-inline: 8px;
  padding: 8px 10px;
  background: var(--background-secondary);
  border: none;
  filter: drop-shadow(2px 2px 5px var(--background-secondary));
  border-radius: 6px;
  font-size: 14px;
  color: var(--text-primary);
  transition: filter 0.5s;
}

[frimousse-search]:focus {
  outline: none;
}

[frimousse-viewport] {
  position: relative;
  flex: 1;
  outline: none;
}

[frimousse-loading],
[frimousse-empty] {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--background-default);
  font-size: 14px;
}

[frimousse-list] {
  padding-block-end: 12px;
  user-select: none;
}

[frimousse-category-header] {
  padding: 12px 12px 6px;
  background: var(--background-default);
  color: var(--text-primary);
  font-size: 12px;
  font-weight: 500;
}

[frimousse-row] {
  padding-inline: 12px;
  scroll-margin-block: 12px;
}

[frimousse-emoji] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 5px;
  background: transparent;
  font-size: 18px;
  transition: background 0.3s;
  cursor: pointer;

  &[data-active] {
    background: var(--background-secondary);
  }
}

.Toastify {
  z-index: 2;
  position: absolute;
}