#diary-entry-viewer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    z-index: 1;
}

#diary-entry-viewer-container {
    position: relative;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: 'Lilita One', sans-serif;
    border-radius: 25px;
    width: 70%;
    min-height: 70%;
    max-height: 80%;
    padding: 50px;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.40);
    overflow: scroll;
}

#diary-entry-viewer-actions {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.diary-entry-viewer-action-button path {
    transition: stroke 0.25s;
}

.diary-entry-viewer-action-button:hover path {
    stroke: black;
}

.diary-entry-viewer-action-button {
    border: none;
    background: none;
    width: 45px;
    height: 45px;
}

#diary-entry-viewer-delete-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#diary-entry-viewer-delete-button svg {
    transition: stroke 0.25s;
}

#diary-entry-viewer-delete-button:hover path {
    stroke: #a70000ff;
}

#diary-entry-emoji {
    font-size: 72px;
}

#diary-entry-content {
    font-size: 1.7rem;
    color: #262626;
    white-space: pre-wrap;
}

#diary-entry-viewer-back-button {
    position: absolute;
    top: 15px;
    left: 15px;
    height: 45px;
    width: 45px;
}